@import url("style.css");
@import url("photographer.css");


/* Modal form */
.form_wrapper {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 3;
    overflow: hidden;
    background-color: var(--third-color);
    color: var(--basic-color);
    padding: 15px;
    border-radius: var(--box-border-radius);
    box-shadow: 0px 2px 8px var(--dialog-shadow-color);
    width: 40%;
    height: 90vh;
}



.btn-close{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    color: var(--basic-color);
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.btn-close:hover{
    opacity: 70%;
    color: var(--price-color);
}

.btn_submit {
    display: block;
    margin: 0 auto;
}

.title_form{
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.title_form h2{
    text-align: left;
    color: var(--default-text-color);
    font-weight: normal;
}

label{
    display: block;
    text-align: left;
    font-size: 1.2rem;
    margin: 5px 0 5px 0;
    color: var(--default-text-color);
}

input{
    border: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: var(--box-border-radius);
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    padding-left: var(--box-border-radius);
}

#message {
    height:150px; 
    width: 100%; 
    padding: 0.5rem; 
    box-sizing: border-box; 
    resize: vertical; 
    overflow: auto;
    display: block; 
    margin-bottom: 1rem;
    font-size: 1.2rem; 
    border-radius: var(--box-border-radius);
}


.btn_submit {
    display: block; 
    margin: 0; 
    padding: 19px 23px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--basic-color);
    border-radius: var(--box-border-radius);
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn_submit:hover{
    opacity: 70%;
    color: var(--default-text-color);
    background-color: var(--tageline-color);
}


.form_data[data-error]::after {
    content: attr(data-error);
    font-size: 0.8rem;
    color: var(--basic-color);
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 1;
    opacity: 0;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
}

.form_data[data-error-visible="true"]::after {
    opacity: 1;
}

.form_data[data-error-visible="true"] .text-control {
    box-shadow: -2px 2px 33px 4px var(--input-bg-color--invalid);
}




