.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80%;
}

.lightbox img, .lightbox video {
  max-width: 100%;
  max-height: 100%;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


.prev-btn, .next-btn {
  background-color: #ddd; /* Sets button background color */
  color: #000; /* Sets button text color */
  border: none; /* Removes default button border */
  padding: 10px; /* Adds padding around button text */
  border-radius: 5px; /* Adds a slight border radius to buttons */
  cursor: pointer; /* Sets cursor to indicate interactive element */
}

.prev-btn {
   font-size: 2rem;
   font-weight: 700;
   color: var(--primary-color);
}

.next-btn {
  font-size: 2rem;
   font-weight: 700;
   color: var(--primary-color);
}

.lightbox-title {
  text-align: center; /* Centers the title text */
  margin-top: 20px; /* Adds space above the title */
}