@import url("style.css");
@import url("form.css");
@import url("sortby.css");
@import url("lightbox.css");

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: auto;
}
/* Header logo */
header {
  margin-bottom: 1rem;
}
h1{
  opacity: 0%; /*hidding h1*/
}

/* photograph banner */
.photograph-header {
  max-width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-color);
    margin-left: 80px;
    margin-right: 80px;
    border-radius:var(--box-border-radius);
    margin-top: 0;    
}


  .text_content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 40px;
    gap: 1rem;
  }

  h2{
    text-align: left;
  }

  .location{
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: left;
  }

.tagline {
  color: var(--tageline-color);
  font-size: 1rem;

  text-align: left;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: var(--basic-color);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover{
  color: var(--default-text-color);
  background-color: var(--third-color);
}

.profile_image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 40px;
}


/* Carousel */
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille flexible */
  gap: 25px; /* Espacement de 25px entre les éléments */
  justify-content: space-between;
  max-width: 1240px; /* Largeur maximale de 1240px */
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  width: 350px; /* Largeur fixe de chaque box */
  height: 350px; /* Hauteur fixe de chaque box */
}

/* Media queries pour ajuster la grille en fonction de la largeur de l'écran */
@media (max-width: 1240px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes lorsque la largeur est inférieure à 1240px */
  }
}

@media (max-width: 760px) {
  .image-container {
    grid-template-columns: repeat(1, 1fr); /* 1 colonne lorsque la largeur est inférieure à 800px */
  }
}

#gallery_mediaLink {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%; /* Hauteur de l'image ou de la vidéo */
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
}

.image-container img,
.image-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: var(--box-border-radius); /* Bordures arrondies */
}

/* Description */
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Aligne H4 et la boîte de like */
  align-items: center;
  padding: 5px 0;
  color: var(--primary-color);
}


h4 {
  font-size: 1rem;
  font-weight: 400;
}

.like_box {
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligne les éléments horizontalement dans la like box */
  gap: 5px;
}

#likeButton {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.fa-heart {
  font-family: "Font Awesome 6 Free";
}

/* Pied de page des likes */
.likes-footer {
  position: fixed;
  bottom: -5px;
  right: 20px;
  width: 376px;
  height: 50px;
  background: var(--third-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.likes-container,
.price-container {
  display: flex;
  align-items: center;
  color: var(--default-text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.price-container .price {
  color: var(--default-text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.likes-count {
  margin-right: 5px;
}

  
  

