@import url(style.css);

/* Style de la boîte de tri */
.sortBy {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--default-text-color);
  margin: 15px 0 0 80px;
}

.sortBy h3 {
  margin-right: 10px;
  font-weight: normal;
}

/* Style général pour le panneau déroulant */
.sortByDropdown {
  position: relative;
  display: inline-block;
}

.sortByDropdown button {
  background-color: var(--primary-color);
  color: var(--basic-color);
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  width: 170px; /* Largeur du bouton */
  font-size: 1.2rem;
  margin-left: 15px;
}

.sortByDropdown button::after {
  content: "˅"; /* Flèche */
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: scaleX(1.5) translateY(-50%);
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 170px; /* Largeur du bouton */
  font-size: 1.2rem;
  margin-left: 15px;
}

.sortByDropdown.active .dropdownContent {
  display: block;
}

.dropdownContent li {
  color:var(--basic-color);
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  list-style: none;
}

.dropdownContent li:hover {
  background-color:var(--third-color); /* Change la couleur au hover */
}

/* Séparateur blanc centré */
.dropdownSeparator {
  height: 2px;
  width: 60%;
  margin: 0 auto; /* Centrer le trait */
  background-color: var(--basic-color);
}

/* Triangle flèche en haut quand ouvert */
.sortByDropdown.active button::after {
  content: "˄"; /* Icône flèche vers le haut */
  font-weight: bold;
  transform: scaleX(1.5) translateY(-50%);
  
}
