@import url(style.css);

/* Style de la boîte de tri */
.sortBy {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--default-text-color);
  margin: 15px 0 0 80px;
}

.sortBy h3 {
  margin-right: 10px;
}

/* Style général pour le panneau déroulant */
.sortByDropdown {
  position: relative;
  display: inline-block;
}

.sortByDropdown button {
  background-color: var(--primary-color);
  color: var(--basic-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  width: 170px; /* Largeur du bouton */
  height: 70px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  margin-left: 15px;
  border-radius: var(--box-border-radius);
}

.sortByDropdown button:hover {
  background-color:var(--third-color); /* Change la couleur au hover */
  color: var(--default-text-color);
}

/* Quand le menu est actif, changer le border-radius */
.sortByDropdown.active button {
  border-radius: 5px 5px 0 0; /* Applique la forme spécifique au bouton */
}


.sortByDropdown button::after {
  content: "˅"; /* Flèche */
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: scaleX(1.5) translateY(-50%);
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 170px; /* Largeur du bouton */
  
  margin-left: 15px;
}

.sortByDropdown.active .dropdownContent {
  display: block;
  height: 140px;
  border-radius: 0 0 var(--box-border-radius) var(--box-border-radius);
}

.dropdownContent li {
  color:var(--basic-color);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: left;
  list-style: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.dropdownContent li:hover {
  background-color:var(--third-color); /* Change la couleur au hover */
  color: var(--default-text-color);
}

/* Séparateur blanc centré */
.dropdownSeparator {
  height: 2px;
  width: 80%;
  margin: 0 auto; /* Centrer le trait */
  background-color: var(--basic-color);
}

/* Triangle flèche en haut quand le menu est ouvert */
.sortByDropdown.active button::after {
  content: "˄"; /* Icône flèche vers le haut */
  font-weight: 400;
  transform: scaleX(1.5) translateY(-50%);
  
}
