
:root {
  --primary-color:#901C1C;
  --secondary-color: #D3573C; 
  --third-color: #DB8876;
  --tageline-color: #525252;
  --price-color: #757575;
  --basic-color: white ;
  --default-text-color: black;
    --dialog-shadow-color: rgba(10, 10, 10, 0.3019607843);
    --input-bg-color--invalid: #430000;
    --input-outline-color--invalid: #bc0f0f;
    --input-bg-color--valid: #004300;
    --input-outline-color--valid: limegreen;
    
    --dark-light: #232323;
    --box-border-radius: 5px
}

* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
   
}

/* nos photographes titre */
  h1 {
    opacity: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color)
  }

/* Style pour le nom */
  h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--secondary-color);

  }

/* Style pour la localisation */
  .location {
    font-size: 1rem;
    color: var(--primary-color);
  }

/* Style pour la tagline */
  .tagline {
    font-size: 0.8rem;  
  }

/* Style pour le tarif */
  .price {
    font-size: 0.6rem;
    color: var(--price-color);
  }

/* logo banner */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 80px 30px 80px;
    }

    @media screen and (max-width: 768px) {
      .header {
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px
      }
    }

    .logo {
      width: 200px;
      height: 50px;
    }

/** browse photographer */
    .card_text-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main a {
      text-decoration: none;
      color: black;
    }

/* Styles pour les cartes des photographes */
  .photographer_section {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    }
    @media screen and (max-width: 768px) {
        .photographer_section{
          display: flex;
          flex-direction: column;
          gap: 20px;
      }}
    
    .photographer_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0px;
    }

    .photographer_card a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    
    .profile_image {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      overflow-clip-margin: unset;
      
    }

  
  
  
